.container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
body{
    color: white;
    /* background-color: black; */
    background-image: linear-gradient(black, blue);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.item{
    height: 550px;
    width: 500px;
    background-color: black;
    border-top: 3px solid purple ;
    border-bottom: 3px solid purple;
    border-left:3px solid aqua;
    border-right: 3px solid aqua;
    border-radius: 13px;
    box-shadow: 5px 10px 10px black;
    

}
h1{
    font-family: Segoe Script;
    text-align: center;
    font-size: 28px;
    text-transform: capitalize;
}
.down{
    margin-left: 198px;
    font-weight: 900px;
    border: none;
    font-family: Segoe Script;
    border-radius: 5px;
    font-size: 13px;
    width: 115px;
    height: 35px;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 8px red;
}
.on{
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 10px;
    font-family: sans-serif;
    font-size: 13px;
    text-transform: capitalize;
}
.of{
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 10px;
    font-family: sans-serif;
    font-size: 13px;
    text-transform: capitalize;
    

}
.sub{
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 10px;
    font-family: sans-serif;
    font-size: 13px;
    text-transform: capitalize;
    

}
.op{
    padding-left: 200px;
}
.up{
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 10px;
    font-family: sans-serif;
    font-size: 13px;
    text-transform: capitalize;
    

}
input{
    width: 170px;
    height: 20px;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
}
